[submodule "nats.c"]
	path = ThirdParty/nats/nats.c
	url = https://github.com/GamesBySarge/nats.c.git
	branch = main
  update = merge
[submodule "ThirdParty/nats/protobuf-c"]
	path = ThirdParty/nats/protobuf-c
	url = https://github.com/GamesBySarge/protobuf-c.git
