[submodule "Source/GBSNats/nats.c"]
	path = Source/GBSNats/nats.c
	url = https://github.com/nats-io/nats.c.git
[submodule "ThirdParty/nats.c"]
	path = ThirdParty/nats.c
	url = https://github.com/nats-io/nats.c.git
